@using Test_MVC.Models;
@model Test_MVC.Models.Subject

@{
    Layout = "../Shared/_Admin.cshtml";

}
<section class="content">
    <div class="row">

        <form class="form-horizontal" role="form" style="border:double; border-color:aqua" method="post">
            <div class="form-group">
                <label class="col-lg-3 control-label" style="font-size:20px">Subject: </label>
                <div class="col-lg-3 ">
                    <label class="col-lg-3 control-label" style="font-size:20px">@Model.Name </label>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-3 control-label" style="font-size:20px">Description: </label>
                <div class="col-lg-4 ">
                    <p>@Model.Description</p>
                </div>
            </div>
        </form>

        <div style=" margin-right:8%">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr style="">
                        <th style="width: 30%; text-align: center">Chapter</th>
                        <th style="width: 30%; text-align: center">Description</th>
                        <th style="width: 10%; text-align: center">Update</th>
                        <th style="width: 10%; text-align: center">View</th>
                        <th style="width: 10%; text-align: center">Delete </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        SubjectClass list = new VASdb().SubjectClass.First(x => x.Subject_Id == Model.SubjectId);
                        foreach (var v in list.Chapter)
                        {

                            <tr>
                                <td style="text-align: center">@v.Name</td>
                                <td style="text-align: center">@v.Description</td>
                                <td class="fa fa-edit" style="margin-left: 15%; background-color: lightblue"><a href="~/Admin/UpdateChapter/@v.ChapterId">&nbsp;&nbsp;Edit</a></td>
                                <td class="fa fa-edit" style="margin-left: 15%; background-color: lightblue"><a href="~/Admin/Detail_Of_Chapter/@v.ChapterId">&nbsp;&nbsp;View All</a></td>
                                <td class="fa fa-remove" style="margin-left:15%;  background-color:lightblue; text-align:center"><a href="~/Admin/DeleteChapter/@v.ChapterId">&nbsp; Delete</a></td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr style="">
                        <th style="width: 30%; text-align: center">Chapter</th>
                        <th style="width: 30%; text-align: center">Description</th>
                        <th style="width: 10%; text-align: center">Update</th>
                        <th style="width: 10%; text-align: center">View</th>
                        <th style="width: 10%; text-align: center">Delete </th>
                    </tr>
                </tfoot>
            </table>


        </div><!-- /.col -->
    </div><!-- /.row -->
</section>