<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3 float-left">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">Children</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="../Class/Subject">Fahad</a></li>
                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="../Class/Subject">Manzoor</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="../Class/Subject">Iqbal</a></li>
                        

                    </ul>
                </div>

            </div>
            <div class="col-md-2 pull-right" style="margin-top:4%">
                <div class=" panel panel-success ">
                    <div class="panel-heading">
                        New Events
                    </div>
                    <div class="panel-body">
                        <div>
                            <a href="~/Quiz/SelectedQuiz">A new Quiz has been posted in this class see here...</a>

                        </div>
                        <hr />
                        <div>
                            <a href="~/Class/Topic">A new lecture has been posted in this class see here...</a>

                        </div>
                    </div>



                </div>
            </div>

     
            <!-- /.row -->


        </div>
    </div>



</div>