@model Test_MVC.Models.UserProfile

<div class="row" style="min-height:500px">
    <div class="panel-body col-md-7 " style="margin-left:20%" >

        
        <form action="/Parent/Request/@Model.UserId" method="post" role="form" style="border:medium">
        
            <div class="form-group">

            <p>Name: @Model.UserName</p>
                </div>
            <div class="form-group">
                <div>
                <img src="../../Content/images/member4.jpg" height="200px" width="150px" style="font-size:20px" />
                    </div>
                 
                </div>

            <div class="form-group">
                <input type="submit" value="Cildren Request" name="Request">
                </div>
</form>  
</div>

       


    
</div>

