
<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
              

            </div>

            <div class="col-md-10" style="">
                <div id="">
                    <div class="panel panel-success" style="">

                        <div class="panel-heading">
                            <span style=""><b>Register</b></span>
                        </div>

                        <div class="panel-body" style="padding:0px; margin-bottom:20%">

                            <form action="../User/AddUserProfile" class="form-horizontal" role="form" style="" method="post">

                                <div class="panel panel-warning" style="">
                                    <div class="panel-body">
                                        
                                        <div class="row" style="margin-left:10%; margin-right:10%">
                                            <div id="checking"></div>
                                            
                                                

                                                    <div class="form-group" >
                                                        <label class="control-label col-lg-4" for="name">Name: </label>
                                                        <div class="col-lg-5">
                                                            <input type="text" class="form-control" data-val-required="Field is required" required name="UserName" id="UserName" placeholder="Enter Name" />
                                                            
                                                        </div>
                                                        <div id="result" class="col-lg-4">
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-4" for="pwd">Password:</label>
                                                        <div class="col-lg-5">
                                                            <input type="password" class="form-control" data-val-required="Field is required" required name="password" placeholder="Enter Password" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-4" for="pwd">Confirm Password:</label>
                                                        <div class="col-lg-5">
                                                            <input type="password" class="form-control" data-val-required="Field is required" required name="cpassword" placeholder="Enter Password again" />
                                                        </div>
                                                    </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4" for="pwd">You are:</label>
                                                <div class="col-lg-2">
                                                    <input type="radio" name="Type" value="Student" required style="float:left; " />Student
                                                    </div><div class="col-lg-2">
                                                    <input type="radio" name="Type" value="Teacher" required style="float:left; " />Teacher
                                                </div><div class="col-lg-2">
                                                    <input type="radio" name="Type" value="Parent" required style="float:left; " />Parent

                                                </div>
                                            </div>
                                            
                                                    <div class="form-group">
                                                        <div class="col-lg-offset-4 col-lg-10">
                                                            <input type="submit" value="Submit" id="butt" class="btn btn-default" />
                                                        </div>
                                                    </div>

                                                


                                                @Scripts.Render("~/bundles/jquery")
                                                <script>

                                                    $(document).ready(function () {

                                                        $('#checking').hide();

                                                        $('#UserName').change(function () {

                                                            var Email = $('#UserName').val();

                                                            //alert('User Name ='+ userName);
                                                            $('#checking').show();
                                                            $.getJSON("/User/CheckUserName?UserName=" + Email, function (data) {
                                                                $('#checking').hide();
                                                                if (data) {
                                                                    $('#result').text("User already exists in database");
                                                                    $('#butt').hide();
                                                                }
                                                                else {
                                                                    $('#result').text("User Name is available");
                                                                    $('#butt').show();
                                                                }
                                                            });

                                                        });

                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                
                                
                            </form>

                            Sign Up with Other Social Networks.
                        
                    </div>


                </div>
            </div>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>




