@model Test_MVC.Models.Lecture

<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">@Model.MainTopic.Name</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        @foreach(var v in Model.MainTopic.Lecture)
                        { 
                         <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="~/Class/Topic#@v.LectureId">@v.Description</a></li>
                            <hr/>
                        }

                    </ul>
                </div>

            </div>
      
            <div id="col-md-7" style="padding:0%">

                <!-- /.row -->

                <div class="col-md-7">
                        
                            <div  style="" id="">
                                @Model.Description
                                <iframe frameborder="0" style="width:100%; height:430px" src="@Model.Name"></iframe>
                            </div>
                        
                    <div class="panel panel-primary">

                        <div class="panel-body " style="background-color:#ccc">
                            <img src="C:/Users/Shakeel-Zafar/Documents/Visual Studio 2013/Projects/fyp/fyp/Content/images/icon.png" style="float:left; margin-right:0%" width="8%" height="0%"></img>
                            <textarea style="width:90%; height:90%" class="pull-right" placeholder="Ask a Question..."></textarea>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="">
                            <p>I don't understand the value of this little butterfly. Why bunny got terrified.</p>
                        </div>
                        <div class="panel-body " style="margin-left:5%">

                            <p>Answer of this question will be here.</p>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="">
                            <p>I don't understand the value of this little butterfly. Why bunny got terrified.</p>
                        </div>
                        <div class="panel-body " style="margin-left:5%">

                            <p>Answer of this question will be here.</p>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="">
                            <p>I don't understand the value of this little butterfly. Why bunny got terrified.</p>
                        </div>
                        <div class="panel-body " style="margin-left:5%">

                            <p>Answer of this question will be here.</p>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="">
                            <p>I don't understand the value of this little butterfly. Why bunny got terrified.</p>
                        </div>
                        <div class="panel-body " style="margin-left:5%">

                            <p>Answer of this question will be here.</p>
                        </div>

                    </div>

                </div>
            </div>



        </div>
        <!--            <div class="col-md-3 col-sm-4">-->
        <!--            </div> -->

    </div>
</div>