@using Test_MVC.Models
@{
    Layout = null;
} 
            @{
                int teacherId = (int)Session["Id"];
                db ctx = new db();
                List<StudentTeacherClass> listOfSTC = ctx.StudentTeacherClass.Where(x => x.Teacher_Id == teacherId).ToList();
                List<Class> clas = new List<Class>();
                foreach(var stc in listOfSTC)
                {
                    clas.Add(stc.SubjectClass.Class);
                }
            }
            <div class="col-md-7" style="margin-top:5%;  margin-bottom:5%" >
                <form action="~/Teacher/Add_Lecture" class="form-horizontal"  role="form" style="padding-left:5%;border:double" method="post">

                    <div class="form-group" >
                        <label class="col-lg-3 control-label" style="font-size:20px;">Class: </label>
                        <div class="col-lg-3 ">
                            <select id="ClassSelector" name="Class" >

                                @foreach (var stc in clas)
                                {
                                    <option>@stc.Name</option>
                                }



                            </select>
                        </div>
                        @Scripts.Render("~/bundles/jquery")
                        <script>

                            $(document).ready(function () {

                                $('#ClassSelector').change(function () {
                                    var Email = $('#ClassSelector').val();

                                    alert('User Name = ' + Email);

                                    $.post("/Admin/getSubjectName", { Name: Email }, function (data) {

                                        //alert(data.SubjectName);
                                        $('#subjectS').empty().append(data.SubjectName)
                                    });



                                });

                            });
                        </script>
                    </div>


                        <div class="form-group">
                            <label class="col-lg-3 control-label" style="font-size:20px">Subject: </label>
                            <div class="col-lg-3 " id="subjectS">
                                <select id="SubjectSelector"  name="Subject">
                                    <option>--Select--</option>
                                </select>
                            </div>
                        </div>
                        @Scripts.Render("~/bundles/jquery")
                        <script>

                            function ChapterSelect(id) {
                               alert(id);
                                $.post("/Admin/getChapterName", {Name:$("#ClassSelector").val(), ID: id }, function (data) {

                                   // alert(data.SubjectName);
                                    $('#chapterS').empty().append(data.SubjectName)
                                });
                            }
                        </script>
                      <div class="form-group">
                        <label class="col-lg-3 control-label" style="font-size:20px">Chapter: </label>
                        <div class="col-lg-3 " id="chapterS">
                            <select id="ChapterSelector" name="ChapterName">

                                <option >--Select--</option>
                                

                            </select>
                        </div>
                    </div>
                    @Scripts.Render("~/bundles/jquery")
                    <script>

                        function MainTopicSelect(id)
                        {
                            $.post("/Admin/getMainTopic", { ID: id }, function (data) {

                                //alert(data.SubjectName);
                                $('#mainTopicS').empty().append(data.SubjectName)
                            });
                        }
                    </script>

                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="font-size:20px">Main-Topic: </label>
                        <div class="col-lg-3 " id="mainTopicS">
                            <select id="MainTopicSelector" name="MainTopicName">

                                <option>--Select--</option>
                                

                            </select>
                        </div>
                    </div>
                    <!-- give url of video or post video on your respective account
                        i.e. Dailymotion or Youtube...
                        and give acess to us...
                        -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="font-size:20px">Lecture: </label>
                        <div class="col-lg-3 ">
                            <input type="text" placeholder="description" name="Description"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="font-size:20px">URL: </label>
                        <div class="col-lg-3 ">
                            <input type="text" placeholder="url" name="Name" />
                        </div>
                        <div class="col-lg-3 ">
                            <p>Upload Your lecture on DailyMotion or Youtube and paste the url here.</p>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-10">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </form>

            </div>

            