<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">Features</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">

                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="http://www.formget.com/features/brandings/">Custom Brandings</a></li>
                        
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Conditional Logic</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Conditional Logic</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Conditional Logic</a></li>

                    </ul>
                </div>

            </div>

            <div class="col-md-7">
                <div id="">


                    <div>
                        <br />
                        <ul style="list-style:none; ">
                            <li> <b>Course: &nbsp;</b>SubjectName</li>
                            <li> <b>Instructor: &nbsp;</b>TeacherName</li>
                        </ul>
                    </div>

                    <div class="panel panel-success" style="">

                        <div class="panel-heading">
                            <span style=""><b>Session</b></span>
                        </div>

                        <div class="panel-body" style="padding:0px">

                            <form action="../Students/StudentSubmitQuiz" class="form-horizontal" role="form">

                                <div class="panel panel-warning" style="">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="questions">Question  i:</label>
                                            <div class="col-lg-10">
                                                <textarea class="form-control" name=" questionNo" placeholder="Write your question here." required></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="optionA">Option A:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionA" placeholder=" enter option a" required />
                                            </div>

                                            <label class="control-label col-lg-2" for="optionB">option B:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionB" placeholder=" enter option b" required />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="optionC">option C:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionC" placeholder="Enter Option C" />
                                            </div>

                                            <label class="control-label col-lg-2" for="optionD">option D:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionD" placeholder="Enter Option D" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2 " for="correctOption">Correct:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  correctOption" placeholder="Enter Correct Option" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-warning" style="">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="questions">Question  i:</label>
                                            <div class="col-lg-10">
                                                <textarea class="form-control" name=" questionNo" placeholder="Write your question here." required></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="optionA">Option A:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionA" placeholder=" enter option a" required />
                                            </div>

                                            <label class="control-label col-lg-2" for="optionB">option B:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionB" placeholder=" enter option b" required />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="optionC">option C:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionC" placeholder="Enter Option C" />
                                            </div>

                                            <label class="control-label col-lg-2" for="optionD">option D:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionD" placeholder="Enter Option D" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2 " for="correctOption">Correct:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  correctOption" placeholder="Enter Correct Option" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-warning" style="">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="questions">Question  i:</label>
                                            <div class="col-lg-10">
                                                <textarea class="form-control" name=" questionNo" placeholder="Write your question here." required></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="optionA">Option A:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionA" placeholder=" enter option a" required />
                                            </div>

                                            <label class="control-label col-lg-2" for="optionB">option B:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionB" placeholder=" enter option b" required />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="optionC">option C:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionC" placeholder="Enter Option C" />
                                            </div>

                                            <label class="control-label col-lg-2" for="optionD">option D:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  optionD" placeholder="Enter Option D" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2 " for="correctOption">Correct:</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="  correctOption" placeholder="Enter Correct Option" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="submit" value="Submit Quiz" class="btn btn-danger" style="margin-left:; margin-top:5px; margin-bottom:5px" />
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>



