@model Test_MVC.Models.SubjectClass
<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                 
                </div>

            </div>

            <div class="col-md-7">
                <div id="">
                    <div>
                        @Model.Class.Name --> @Model.Subject.Name
                    </div>
                    <form action="~/Teacher/SelectQuestions/@Model.SubClassId" class="form-horizontal" method="post" role="form">
                        <div class="panel panel-success" style="">

                            <div class="panel-heading">
                                <span style=""><b>Capters</b></span>
                            </div>
                            <div class="panel-body">
                                @foreach(var v in Model.Chapter)
                                {
                                    <hr />
                                    <input type="checkbox" value="@v.Name" style="margin-right:5%" name="chapter" /> @v.Name<br />
                                }

                            </div>


                        </div>
                        <input type="submit" id="submit" value="Submit Quiz" class="btn btn-danger" style="margin-left:; margin-top:5px; margin-bottom:5px" />

                    </form>
                   
    </div>
                           
                        </div>
                        
                            
                            

                </div>

            </div>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>