<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                 
                </div>

            </div>

            <div class="col-md-7">
                <div id="">
                    <div>
                        9th >> Physics
                    </div>
                    <form action="~/Teacher/SelectQuestions" class="form-horizontal" role="form">
                        <div class="panel panel-success" style="">

                            <div class="panel-heading">
                                <span style=""><b>Capters</b></span>
                            </div>
                            <div class="panel-body">
                                <hr />
                                <input type="checkbox" value="ch1" style="margin-right:5%" name="ch1" />Introduction to physics to physics to physics to physics to physics to physics <br>
                                <hr />
                                <input type="checkbox" value="ch1" style="margin-right:5%" name="ch1" />Introduction to physics to physics to physics to physics to physics to physics<br>
                                <hr />
                                <hr />
                                <input type="checkbox" value="ch1" style="margin-right:5%" name="ch1" />Introduction to physics to physics to physics to physics to physics to physics<br>
                                <hr />
                                <input type="checkbox" value="ch1" style="margin-right:5%" name="ch1" />Introduction to physics to physics to physics to physics to physics to physics<br>


                            </div>
                             

                        </div>
                        <div class="panel panel-success" style="">

                            <div class="panel-heading">
                                <span style=""><b>Required</b></span>
                            </div>
                            <div class="panel-body">
                                
                                    <input type="radio" required value="rad1" style="margin-right:5%" name="ch1" />From Pool<br>
                                    <input type="radio" required value="rad1" style="margin-right:5%" name="ch1" />Your Own<br>
                                 


                            </div>
                           
                        </div>
                        <div>
                            
                            <input type="submit" value="Submit Quiz" class="btn btn-danger" style="margin-left:; margin-top:5px; margin-bottom:5px" />
                        </div>
                    </form>

                </div>

            </div>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>