<div>
    <!-- Carousel -->
    <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#templatemo-carousel" data-slide-to="1"></li>
            <li data-target="#templatemo-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>WELCOME TO Virtual Academy</h1>
                        <p>CHOOSE THE ONE SUITABLE FOR YOU</p>
                        <p>
                            <a class="btn btn-lg btn-green" href="#" role="button" style="margin: 20px;">Join Us</a>
                            <a class="btn btn-lg btn-orange" href="#" role="button">Scholars</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="col-sm-6 col-md-6">
                            <h1>Student</h1>
                            <p>Student guidence help and motivation.</p>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h1>Teacher</h1>
                            <p>Teacher interact , improve , guide , contribute ,learn and Teach.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Parent</h1>
                        <p>Important Part of Education triology</p>
                        <p><a class="btn btn-lg btn-orange" href="#" role="button">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /#templatemo-carousel -->
</div>

<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Welcome to </span><span class="txt_orange">Virtual Academy</span>
            <p class="txt_slogan"><i>Learn , teach and be successful</i></p>
        </div>
    </div>
</div>

<div class="templatemo-service">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="~/Content/images/student.png" alt="icon" />
                        <a href="student.html"><span class="templatemo-service-item-header">STUDENT PANEL</span></a>
                    </div>
                    <p>Student Panel goes here</p>
                    <div class="text-center">
                        <a href="#"
                           class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>
                    <br class="clearfix" />
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="~/Content/images/teacher.png" alt="icon" />
                        <a href="teacher.html"><span class="templatemo-service-item-header">TEACHER PANEL</span></a>
                    </div>
                    <p>Teacher Panel goes here</p>
                    <div class="text-center">
                        <a href="#"
                           class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>
                    <br class="clearfix" />
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="~/Content/images/parent.jpg" alt="icon" />
                        <a href="admin.html"><span class="templatemo-service-item-header">PARENT PANEL</span></a>
                    </div>
                    <p>Parents panel goes here.</p>
                    <div class="text-center">
                        <a href="#"
                           class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>
                    <br class="clearfix" />
                </div>
                <br class="clearfix" />
            </div>
        </div>
    </div>
</div>

<div class="templatemo-team" id="templatemo-about">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header">
                <div class="text-center">
                    <hr class="team_hr team_hr_left" /><span>MEET OUR TEAM</span>
                    <hr class="team_hr team_hr_right" />
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <ul class="row row_team">
            <li class="col-lg-3 col-md-3 col-sm-6 ">
                <div class="text-center">
                    <div class="member-thumb">
                        <img src="~/Content/images/member4.jpg" class="img-responsive" alt="member 4" />
                        <div class="thumb-overlay">
                            <a href="#"><span class="social-icon-fb"></span></a>
                            <a href="#"><span class="social-icon-twitter"></span></a>
                            <a href="#"><span class="social-icon-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="team-inner">
                        <p class="team-inner-header">Shakeel Zafar</p>
                        <p class="team-inner-subtext">Developer</p>
                    </div>
                </div>
            </li>

            <li class="col-lg-3 col-md-3 col-sm-6 ">
                <div class="text-center">
                    <div class="member-thumb">
                        <img src="~/Content/images/member3.jpg" class="img-responsive" alt="member 3" />
                        <div class="thumb-overlay">
                            <a href="#"><span class="social-icon-fb"></span></a>
                            <a href="#"><span class="social-icon-twitter"></span></a>
                            <a href="#"><span class="social-icon-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="team-inner">
                        <p class="team-inner-header">Asif Iqbal Butt</p>
                        <p class="team-inner-subtext">Developer</p>
                    </div>
                </div>
            </li>

            <li class="col-lg-3 col-md-3 col-sm-6 ">
                <div class="text-center">
                    <div class="member-thumb">
                        <img src="~/Content/images/member2.jpg" class="img-responsive" alt="member 2" />
                        <div class="thumb-overlay">
                            <a href="#"><span class="social-icon-fb"></span></a>
                            <a href="#"><span class="social-icon-twitter"></span></a>
                            <a href="#"><span class="social-icon-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="team-inner">
                        <p class="team-inner-header">Inzimam-ul-Hassan</p>
                        <p class="team-inner-subtext">Developer[Team Lead]</p>
                    </div>
                </div>
            </li>

            <li class="col-lg-3 col-md-3 col-sm-6 ">
                <div class="text-center">
                    <div class="member-thumb">
                        <img src="~/Content/images/member1.jpg" class="img-responsive" alt="member 1" />
                        <div class="thumb-overlay">
                            <a href="#"><span class="social-icon-fb"></span></a>
                            <a href="#"><span class="social-icon-twitter"></span></a>
                            <a href="#"><span class="social-icon-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="team-inner">
                        <p class="team-inner-header">Adeel Ahmad</p>
                        <p class="team-inner-subtext">Designer</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div><!-- /.templatemo-team -->

<div id="templatemo-contact">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header head_contact">
                <div class="text-center">
                    <hr class="team_hr team_hr_left hr_gray" /><span class="txt_darkgrey">CONTACT US</span>
                    <hr class="team_hr team_hr_right hr_gray" />
                </div>
            </div>

            <div class="col-md-4 contact_right">
                <p>Company title and Address surved here</p>
                <p><img src="~/Content/images/location.png" alt="icon 1" /> PUCIT Lahore</p>
                <p><img src="~/Content/images/phone1.png" alt="icon 2" /> 03424632171</p>
                <p><img src="~/Content/images/globe.png" alt="icon 3" /><a class="link_orange" href="#"><span class="txt_orange">www.company.com</span></a></p>
                <form class="form-horizontal" action="#">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Name..." maxlength="40" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Email..." maxlength="40" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" style="height: 130px;" placeholder="Write down your message..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-orange pull-right" style="margin-bottom:10px">SEND</button>
                </form>

            </div>

            <br />

            <div class="col-md-3 pull-right">
                <div class="text-center">
                    <div class="member-thumb">
                        <img src="~/Content/images/add1.jpg" class="img-responsive" alt="member 3" />
                        <div class="thumb-overlay">
                        </div>
                    </div>
                    <div class="team-inner">
                        <p class="team-inner-header">Advertisement</p>
                        <button type="submit" class="btn btn-orange">ADD NOW</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pull-right">
                <div class="text-center">
                    <div class="member-thumb">
                        <img src="~/Content/images/add2.jpg" class="img-responsive" alt="member 3" />
                        <div class="thumb-overlay">
                        </div>
                    </div>
                    <div class="team-inner">
                        <p class="team-inner-header">Advertisement</p>
                        <button type="submit" class="btn btn-orange">ADD NOW</button>
                    </div>
                </div>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /#templatemo-contact -->


<div class="templatemo-tweets">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            
            <div class="col-md-7 tweet_txt">
                <span>"It's you good luck to be here, So get everything that you want."</span>
                <br />
                
            </div>
            <div class="col-md-2">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>