<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3 float-left">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">9th</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="../Class/Subject">Physics</a></li>
                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="../Class/Subject">Chemistry</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="../Class/Subject">Biology</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="../Class/Subject">Maths</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="../Class/Subject">Computer</a></li>

                    </ul>
                </div>

            </div>
            <div class="col-md-2 pull-right" style="margin-top:4%">
                <div class=" panel panel-success ">
                    <div class="panel-heading">
                        Notifications
                    </div>
                    <div class="panel-body">
                        <div>
                            <a href="~/Quiz/SelectedQuiz">A new Quiz has been posted in this class see here...</a>  
                            
                        </div>
                        <hr/>
                        <div>
                            <a href="~/Class/Topic">A new lecture has been posted in this class see here...</a>
                            
                        </div>
                    </div>
                   
                

                </div>
            </div>

            <div id="col-md-7" class="float-left" style="padding:0%; margin-top:0%; padding-top:0%">



                <h1 class="page-header">Panels and Wells</h1>


                <div class="col-md-7">
                    <div class="jumbotron">
                        <h1>Jumbotron</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>
                        <p>
                            <a class="btn btn-primary btn-lg" role="button">Learn more</a>
                        </p>
                    </div>
                    <br />
                    <h3>Physics</h3>
                    <div class="">
                        <div class=" panel panel-primary ">
                            <div class="panel-heading">
                                Introduction to Physics
                            </div>
                            <div class="panel-body">
                                <img src="C:/Users/Shakeel-Zafar/Documents/Visual Studio 2013/Projects/fyp/fyp/Content/images/member2.png" style="float:left; margin-right:2%" width="10%" height="0%"></img>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>








                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Branches of Physics
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Thermodynamics
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Simple Harmonic Motion
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <a href="../Class/Subject"><button class="btn-progres col-lg-2" style="margin-left:38%">See All</button></a>
                    </div>
                    <br />
                    <h3>Mathematic</h3>

                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Introduction to Maths
                            </div>
                            <div class="panel-body">
                                <img src="C:/Users/Shakeel-Zafar/Documents/Visual Studio 2013/Projects/fyp/fyp/Content/images/member2.png" style="float:left; margin-right:2%" width="10%" height="0%"></img>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Branches of Mathematics
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Algebra
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Geomatry
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <a href="../Class/Subject"><button class="btn-progres col-lg-2" style="margin-left:38%">See All</button></a>
                    </div>
                    <br />
                    <h3>Chemistry</h3>

                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Introduction to Chemistry
                            </div>
                            <div class="panel-body">
                                <img src="C:/Users/Shakeel-Zafar/Documents/Visual Studio 2013/Projects/fyp/fyp/Content/images/member2.png" style="float:left; margin-right:2%" width="10%" height="0%"></img>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Branches of Chemisty
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                InOrganic Chmistry
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Organic Chemistry
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <a href="../Class/Subject"><button class="btn-progres col-lg-2" style="margin-left:38%">See All</button></a>
                    </div>
                    <br />
                    <h3>Biology</h3>

                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Introduction to Biology
                            </div>
                            <div class="panel-body">
                                <img src="C:/Users/Shakeel-Zafar/Documents/Visual Studio 2013/Projects/fyp/fyp/Content/images/member2.png" style="float:left; margin-right:2%" width="10%" height="0%"></img>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Branches of Biology
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Human Parts of Body
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Plant Details
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <a href="../Class/Subject"><button class="btn-progres col-lg-2" style="margin-left:38%">See All</button></a>
                    </div>
                    <br />
                    <h3>Computer</h3>

                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Introduction to Computer
                            </div>
                            <div class="panel-body">
                                <img src="C:/Users/Shakeel-Zafar/Documents/Visual Studio 2013/Projects/fyp/fyp/Content/images/member2.png" style="float:left; margin-right:2%" width="10%" height="0%"></img>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Branches of Physics
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Thermodynamics
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Simple Harmonic Motion
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div>
                        <a href="../Class/Subject"><button class="btn-progres col-lg-2" style="margin-left:38%">See All</button></a>
                    </div>

                    <!-- /.col-md-7 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.row -->


        </div>
    </div>



</div>