<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="background-color: darkcyan;">Classes</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="~/Student/Class">9th</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="~/Student/Class">10th</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="~/Student/Class">2nd Year</a></li>

                    </ul>
                      
                    <span class="sidebar-title" style="background-color: darkcyan;">Quiz</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="~/Quiz/Index">Attemp</a></li>
                       

                    </ul>
                    
                    <span class="sidebar-title" style="background-color: darkcyan;">Progress</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="~/Student/Progress">See here</a></li>


                    </ul>
                </div>

            </div>

            <div class="col-md-7">

                <div class="panel panel-primary">

                    <div class="panel-body " style="background-color:#ccc">
                        <img src="C:/Users/Shakeel-Zafar/Documents/Visual Studio 2013/Projects/fyp/fyp/Content/images/icon.png" style="float:left; margin-right:0%" width="8%" height="0%"></img>
                        <textarea style="width:90%; height:90%" class="pull-right" placeholder="New Post..."></textarea>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="">
                        <p>I don't understand the value of this little butterfly. Why bunny got terrified.</p>
                    </div>
                    <div class="panel-body " style="margin-left:5%">

                        <p>Answer of this question will be here.</p>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="">
                        <p>I don't understand the value of this little butterfly. Why bunny got terrified.</p>
                    </div>
                    <div class="panel-body " style="margin-left:5%">

                        <p>Answer of this question will be here.</p>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="">
                        <p>I don't understand the value of this little butterfly. Why bunny got terrified.</p>
                    </div>
                    <div class="panel-body " style="margin-left:5%">

                        <p>Answer of this question will be here.</p>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="">
                        <p>I don't understand the value of this little butterfly. Why bunny got terrified.</p>
                    </div>
                    <div class="panel-body " style="margin-left:5%">

                        <p>Answer of this question will be here.</p>
                    </div>

                </div>

            </div>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>