<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">Features</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">

                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="http://www.formget.com/features/brandings/">Custom Brandings</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Menu 1
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Submenu 1-1</a></li>
                                <li><a href="#">Submenu 1-2</a></li>
                                <li><a href="#">Submenu 1-3</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Conditional Logic</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Conditional Logic</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Conditional Logic</a></li>

                    </ul>
                </div>

            </div>

            <div class="col-md-7">
                <div id="">
                    <div>
                        9th >> Physics
                    </div>
                    <form action="../Students/StudentSubmitQuiz" class="form-horizontal" role="form">
                        <div class="panel panel-success" style="">

                            <div class="panel-heading">
                                <span style=""><b>Capters</b></span>
                            </div>
                              <div class="panel-body">
                                  <hr/>
                                <input type="checkbox" value="ch1" style="margin-right:5%" name="ch1" />Introduction to physics to physics to physics to physics to physics to physics <br>
                                  <hr />
                                  <input type="checkbox" value="ch1" style="margin-right:5%" name="ch1" />Introduction to physics to physics to physics to physics to physics to physics<br>
                                  <hr />
                                  <hr />
                                  <input type="checkbox" value="ch1" style="margin-right:5%" name="ch1" />Introduction to physics to physics to physics to physics to physics to physics<br>
                                  <hr />
                                  <input type="checkbox" value="ch1" style="margin-right:5%" name="ch1" />Introduction to physics to physics to physics to physics to physics to physics<br>

                                
                              </div>
                                    
                          </div>
                        <div>

                            <input type="submit" value="Submit Quiz" class="btn btn-danger" style="margin-left:; margin-top:5px; margin-bottom:5px" />
                        </div>
                        </form>
                              
                      </div>
 
            </div>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>