<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">Features</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">

                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="http://www.formget.com/features/brandings/">Quiz-1</a></li>
                       
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Quiz-2</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Quiz-3</a></li>
                        <li id="menu-item-30018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30018"><a href="http://www.formget.com/features/conditional-logic/">Quiz-4</a></li>
                        

                    </ul>
                </div>

            </div>

            <div class="col-md-7">
                <div id="">


                    <div>
                        <br />
                        <ul style="list-style:none; ">
                            <li> <b>Course: &nbsp;</b>SubjectName</li>
                            <li> <b>Instructor: &nbsp;</b>TeacherName</li>
                        </ul>
                    </div>

                    <div class="panel panel-success" style="">

                        <div class="panel-heading">
                            <span style=""><b>Session</b></span>
                        </div>

                        <div class="panel-body" style="padding:0px">

                            <form action="../Students/StudentSubmitQuiz" class="form-horizontal" role="form">

                                <div class="panel panel-warning" style="">
                                    <div class="panel-body">
                                        <div class="col-lg-12">
                                            <p style="text-align:left"><b>Question: 1</b></p>
                                            <p style="text-align:left"><b>this is first question and we are testing either it is responsive or not, if it is responcive then this is well n good other wise we will chnage it.</b></p>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div style="padding-right:0%">
                                                    <input type="radio" name="option" value="optionA" required style="float:left; " />
                                                </div>
                                                <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas tionaakdjk kkas tiona</div>
                                                <br />

                                                <div style="padding-right:0%">
                                                    <input type="radio" name="option" value="optionB" required style="float:left; " />
                                                </div>
                                                <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas tionaakdjk kkas tiona</div>
                                                <br />
                                                <div style="padding-right:0%">
                                                    <input type="radio" name="option" value="optionC" required style="float:left; " />
                                                </div>
                                                <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas tionaakdjk kkas tiona</div>
                                                <br />
                                                <div style="padding-right:0%">
                                                    <input type="radio" name="option" value="optionD" required style="float:left; " />
                                                </div>
                                                <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas tionaakdjk kkas tiona</div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-warning" style="">
                                    <div class="panel-body">
                                        <div class="col-lg-12">
                                            <p style="text-align:left"><b>Question: 1</b></p>
                                            <p style="text-align:left"><b>this is first question and we are testing either it is responsive or not, if it is responcive then this is well n good other wise we will chnage it.</b></p>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div style="padding-right:0%">
                                                    <input type="radio" name="option" value="optionA" required style="float:left; " />
                                                </div>
                                                <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas tionaakdjk kkas tiona</div>
                                                <br />

                                                <div style="padding-right:0%">
                                                    <input type="radio" name="option" value="optionB" required style="float:left; " />
                                                </div>
                                                <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas tionaakdjk kkas tiona</div>
                                                <br />
                                                <div style="padding-right:0%">
                                                    <input type="radio" name="option" value="optionC" required style="float:left; " />
                                                </div>
                                                <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas tionaakdjk kkas tiona</div>
                                                <br />
                                                <div style="padding-right:0%">
                                                    <input type="radio" name="option" value="optionD" required style="float:left; " />
                                                </div>
                                                <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas tionaakdjk kkas tiona</div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel panel-warning" style="">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                <p style="text-align:left"><b>Question: 1</b></p>
                                                <p style="text-align:left"><b>this is first question and we are testing either it is responsive or not, if it is responcive then this is well n good other wise we will chnage it.</b></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div style="padding-right:0%">
                                                        <input type="radio" name="option" value="optionA" required style="float:left; " />
                                                    </div>
                                                    <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas tiona</div>
                                                    <br />

                                                    <div style="padding-right:0%">
                                                        <input type="radio" name="option" value="optionB" required style="float:left; " />
                                                    </div>
                                                    <div style=" text-align: left; padding-left:10%"> tiona</div>
                                                    <br />
                                                    <div style="padding-right:0%">
                                                        <input type="radio" name="option" value="optionC" required style="float:left; " />
                                                    </div>
                                                    <div style=" text-align: left; padding-left:10%">op ajdkb ajbkas dkjsdkh akdjk kkas dkjsdkh akdjk kkas </div>
                                                    <br />
                                                    <div style="padding-right:0%">
                                                        <input type="radio" name="option" value="optionD" required style="float:left; " />
                                                    </div>
                                                    <div style=" text-align: left; padding-left:10%">op ajdkb  kkas tionaakdjk kkas tiona</div>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" value="Submit Quiz" class="btn btn-danger" style="margin-left:; margin-top:5px; margin-bottom:5px" />
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>